
{% extends 'polls/base.html' %}

{% block main_content %}

<h> {{ q.question_text }} </h>

<form  method="post" action= 'results/' >
    {% csrf_token %}

    {% for c in q.choice_set.all %}
        <input type="radio" name="choice"  id="choice{{forloop.counter}}" value="{{c.id}}">
        <label for="choice{{forloop.counter}}" > {{c.choice_text}}</label> <br>

    {% endfor %}
    <input type="submit" value="votes">
</form>

<!--<ul>-->
    <!--{% for ch in q.choice_set.all %}-->
        <!--<li>{{ch.choice_text}}</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

{% endblock %}